<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Home Blog : </title>
</head>

<body>
<%- include('./partials') %>
<%- include('./partials/scripts') %>

</body>

</html>